# Symfony Files
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/config/parameters.*
/build/
/vendor/
/bin/
/composer.phar
/web/uploads

# IDE specific project files
.nbproject
*.iml
*.ipr
*.iws
.idea/
.classpath
.project

