# Symfony Files
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*

# Configuration files
app/config/parameters.ini
#/app/config/parameters.*

/build/
/vendor/
/bin/
/composer.phar
/web/uploads

# IDE specific project files
.nbproject
*.iml
*.ipr
*.iws
.idea/
.classpath
.project

# generic files to ignore
*~
*.lock
!deps.lock
*.DS_Store
*.swp
*.out
